<html>
        <head>
            <title>Tienda Mesoamericana</title>
        </head>
    
        <body>
            
            <div>
                <h1><a href="#">Tienda Mesoamericana</a></h1>
                <h3>Propietario: César Macario</h3>
            </div>

            <div>
                <table>
                    <tr>
                      <td><strong>Producto</strong></td>
                      <td><strong>Precio</strong></td>
                      <td><strong>Existencias</strong></td>
                    </tr>

                    <tr>
                        <td>Lays</td>
                        <td>Q. 15</td>
                        <td>100</td>
                    </tr>

                    <tr>
                        <td>Pepsi Jumbo 3L</td>
                        <td>Q. 15</td>
                        <td>250</td>
                    </tr>

                    <tr>
                        <td>Pringles Queso</td>
                        <td>Q. 20</td>
                        <td>50</td>
                    </tr>
                </table>
            </div>
            
        </body>
</html>